.wrapper {
    width: 1239px;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 1296px) { 
    .wrapper {width: 100%;padding: 30px 0px;}
} 
.leftmenu {
    margin: 10px;
}
.leftmenu_list {
    width: 180px;
    padding: 15px;
    margin: 0px;
}
.leftmenu_list ul{
    padding-inline-start: 0;
    margin: 0 auto;
}
.leftmenu_list a {
    padding: 10px 10px;
    line-height: 40px;
    text-decoration: none;
    color: black;
}
.leftmenu_list a:hover {
    color:brown
}